<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>5Q</title>
    @Styles.Render("~/Content/css")

</head>

<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>