<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>5Q</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="page">

    <header> <a href="/" class='logo-link'> <img src="/images/5q-logo.png" alt='5Q'></a></header>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>