@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <header class='col-md-12 reset-padding'>
        <div class='top-bar col-md-12'>
            <div class='pull-left'>
                <a href="#"><span class="glyphicon glyphicon-home"></span></a>
                <span class='left-arrow'> > </span>
                <a href="/maintenance">Vessels</a>
            </div>
            <div class='pull-right'>
                <a href="#"><span class="glyphicon glyphicon-log-out"></span></a>
            </div>
        </div>


        <div class='col-md-12 reset-padding'>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="/images/logo-lf.png"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class='active'><a href="/maintenance">Home</a></li>
                            <li><a href="/maintenance">Vessels <span class='notif notif-red'>12</span></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
