@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class='apostolic-page'>
    <header class='header-apostolic-page'>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="/" class='logo-link-small'> <img src="/images/5q-logo-white.png" alt='5Q'></a>
                </div>
                <div class="col-md-6">


                    @if (Request.IsAuthenticated) {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="user/reports" class='account-header-link pull-right'>
                                        <i class="material-icons">account_circle</i> Hello  @User.Identity.GetUserName()
                                    </a>


                                </li>
                                <li><a class="account-header-link " href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        }
                    } else {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "account-header-link" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "account-header-link" })</li>
                        </ul>
                    }

                </div>
            </div>

        </div>
    </header>


    <div class="container body-content">
        @RenderBody()

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
