@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
}

<div class="login-page">
    <header> <a href="#" class='logo-link'> <img src="/images/logo.png" alt='NY WATERWAY'></a></header>

    <div class="form-sign-in">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" })) {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "useremail@gmail.com" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", placeholder = "password" })
                </div>
            </div>
            <div class="col-md-12 reset-padding-right">
                <input type="submit" value="Log in" class="btn btn-primary" />

            </div>
        }
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}